@charset "UTF-8";
a,
body,
div,
html,
p,
section,
span {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

section {
    display: block
}

body {
    line-height: 1
}

html {
    scroll-behavior: smooth
}

p {
    color: #141e30;
    font-size: 20px;
    /* margin-bottom: 20px; */
    line-height: 150%
}

body,
html {
    width: 100%;
    overflow-x: hidden
}

.page-content {
    width: 88%;
    margin-left: 6%;
    max-width: 1100px
    margin-top:0px;
    border:0px;
    padding:0px
}

@media screen and (min-width:700px) {
    .page-content {
        width: 72%;
        margin-left: 14%
    }
}


@media screen and (min-width:0px) {
    section {
        margin-bottom: 200px
    }
}


@media screen and (min-width:1040px) {
    section {
        margin-bottom: 256px
    }

}



section#content-container {
    max-width: 600px
}

@media screen and (min-width:700px) {
    section#content-container {
        margin: 0 auto 96px auto
    }
}

section#content-container:last-of-type {
    border-bottom: none
}

section#content-container p a {
    color: #141e30;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 175ms ease, background-color .15s ease, box-shadow .15s cubic-bezier(.175, .885, .32, 1.275), transform 175ms cubic-bezier(.175, .885, .32, 1.275)
}

@media screen and (max-width:900px) {
    section#content-container p a {
        background-image: linear-gradient(rgba(255, 255, 255, 0) 63%, rgba(235, 69, 69, .16) 38%);
        display: inline
    }
    section#content-container p a:hover {
        background-image: linear-gradient(rgba(255, 69, 69, .08) 100%, rgba(255, 69, 69, .08) 100%);
        transition: all 175ms cubic-bezier(.175, .885, .32, 1.275);
        transition: color 0s;
        padding-bottom: 3px
    }
}

section#content-container p a:hover {
    color: #eb4545;
    background-color: rgba(235, 69, 69, .1);
    transform: skew(-4deg) scaleX(.98);
    text-decoration: none
}

section#content-container p a::after {
    content: "";
    width: 100%;
    height: 9px;
    background-color: rgba(235, 69, 69, .16);
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: all .15s cubic-bezier(.175, .885, .32, 1.275)
}

@media screen and (max-width:900px) {
    section#content-container p a::after {
        height: 0
    }
}

@media screen and (min-width:500px) {
    section#content-container {
        margin: 120px auto
    }
}



section#content-container div.messages {
    height: 100% 
    margin-bottom:40px; /*margin at the bottom of each <div class="messages"> container–individual text threads*/
    margin-top:40px
}

section#content-container div.messages div.message-group {  
    margin-bottom: 6px /*margin between message groups*/
}

section#content-container div.messages p { /*paragraph settings*/
    font-size: 16px;
    margin-bottom: 2px;
    margin-top:2px
}

section#content-container div.messages p.message { 
    font-family: -apple-system, system-ui, "Helvetica Neue", "Work Sans", sans-serif;
    display: flex
}

section#content-container div.messages p.message span {
    padding: 12px;
    border-radius: 20px
}

section#content-container div.messages p.message-right {
    color: #fff;
    align-items: flex-end;
    flex-direction: row-reverse;
    max-width: 80%;
    margin-left: 20%
}

section#content-container div.messages p.message-right span {
    background-color: #1e59dc
}

section#content-container div.messages p.message-left {
    max-width: 80%
}

section#content-container div.messages p.message-left span {
    background-color: #e5e5e9
}