
<section class="aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="500" data-aos-offset="0" id="content-container">
    <div class="messages">
        @foreach (MessageGroupViewModel viewModel in this.MessageGroupViewModels)
        {
            <MessageGroup ViewModel=@viewModel/>
        }
    </div>
</section>

@code {
    [Parameter]
    public List<MessageGroupViewModel> MessageGroupViewModels { get; set; } = new();

}