
<section class="aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="500" data-aos-offset="0" id="content-container">
    <div class="messages">
        <div class="message-group">
            <p class="message message-right aos-init" data-aos="fade-up-left" data-aos-once="true" data-aos-duration="300" data-aos-offset="150">
                <span>
                    yo
                </span>
            </p>
        </div>
        <div class="message-group">
            <p class="message message-left aos-init" data-aos="fade-up-right" data-aos-once="true" data-aos-duration="300" data-aos-offset="150">
                <span>
                    lol maybe
                </span>
            </p>
        </div>
    </div>
</section>

@code {

}