@using Bylines.LandingPage.Data
@inject WaitlistDbContext db;
<h3>SignUpForm</h3>

<input placeholder="Email Address" @bind=this.form.Email/>
<input placeholder="Name" @bind=this.form.Name/>
<input placeholder="Phone Number" @bind=this.form.PhoneNumber/>
<input type="checkbox" @bind=this.form.IsGroup/>
<button @onclick="Submit">Submit</button>
<h3>@this.statusMessage</h3>
<h3>Id: @this.form.Id</h3>

@code
{
    WaitlistSubmissionData form = new();
    string statusMessage = "";
    async Task Submit()
    {
        db.WaitlistSubmissions.Add(this.form);
        var success = await db.SaveChangesAsync();

        if (success is not 1) statusMessage = "Failure!";
        if (success is 1) statusMessage = "Success!";
    }
}